.icone {
    max-width: 20px;
}
.icone2 {
    max-width: 30px;
    max-height: 30px;
}
.icone-logo {
    max-width: 100px;
    margin: 0;
}
.card-img-top {
    height: 350px;
    width: auto;
}
.card-body {
    height: 250px;
}
.card-body h4 {
    text-align: center;
}
.card-body p {
    padding-top: 50px;
}
.ajout {
    text-align: center;
}
.col {
    padding: 5px;
    max-width: 145px;
}
.col img {
    max-height: 130px;
    max-width: 130px;
}
.infoGen1 {

}
.infoGen2 {

}
.infoGen2 img {
    max-width: 150px;
    max-height: 150px;
    align-self: center;
}
.infoGen3 {

}
.cfh img {
    width: 250px;
    height: 250px;
}
.text-black {
    color: black;
}
.carousel-caption {
    width: 100%;
    right: 0!important;
    left: 0!important;
}
.bg-dark2 {
    background-color: rgba(52, 58, 64, 0.8);
}